

.pagehead{
	font: bold 16px Verdana;
	color: #18374a;
	text-decoration: none;
}

.tdhead{
	font: bold 13px Verdana;
	color: #18374a;
	text-decoration: none;
}

.para{
	font: normal 12px Verdana;
	color: #18374a;
	text-decoration: none;
}
